version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      typescript-eslint:
        patterns:
          - "@typescript-eslint/*"
    commit-message:
      prefix: "npm"
    rebase-strategy: "auto"
    open-pull-requests-limit: 10
    assignees:
      - "ahervy"
