[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/limpide"]
	path = themes/limpide
	url = git@github.com:ahervy/limpide.git
