<div class="row">
  <div class="col-xl-8 offset-xl-2 py-2">
    <h1>Contact</h1>
    <p class="lead">Let's get in touch!</p>
    <form id="contact-form" action="https://formcarry.com/s/RVD1zDVGOgCP" method="POST" accept-charset="UTF-8"
      role="form">
      <div class="messages"></div>
      <div class="controls">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="form_name">Name (required)</label>
              <input id="form_name" type="text" name="name" class="form-control" required="required"
                data-error="Your name is required." autofocus>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="form_email">Email (required)</label>
              <input id="form_email" type="email" name="email" class="form-control" required="required"
                data-error="Incorrect e-mail. Please try again.">
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="form_message">Message (required)</label>
              <textarea id="form_message" name="message" class="form-control" rows="4" required="required"
                data-error="Leave a message."></textarea>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input type="submit" class="btn btn-primary btn-send mt-1" value="Send message">
            <input type="hidden" name="_gotcha">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>