---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

const projects = (await getCollection("portfolio")).sort((a, b) => {
	if (!b.data.publishDate || !a.data.publishDate) {
		return 0; // Treat undefined dates as equal
	}
	return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<BaseLayout
	title="Technical Writing Portfolio | Arnaud Hervy"
	description="User guides, how-to guides, API documentation, and microcopy – all designed to help users get the most out of products and services."
>
	<div class="stack gap-15 lg:gap-30">
		<main class="wrapper stack gap-8">
			<Hero
				title="My portfolio"
				tagline="Explore my work samples to get an idea of the content I create."
				align="start"
				headingId="portfolio-title"
			/>

			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<article>
								<PortfolioPreview project={project} />
							</article>
						</li>
					))
				}
			</Grid>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>
