---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('portfolio')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Arnaud Hervy's portfolio | Arnaud Hervy"
	description="Explore Arnaud Hervy's portfolio showcasing his expertise in creating user-friendly documentation. Arnaud specializes in producing clear and concise content that helps users get the most out of products."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="My portfolio"
				tagline="Explore my work samples to get an idea of the content I create."
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
