---
import CallToAction from "./CallToAction.astro";
import Icon from "./Icon.astro";
---

<aside aria-labelledby="contact-heading">
	<div class="contact-content">
		<h2 id="contact-heading">
			Need a technical writer to improve your documentation?
		</h2>
		<CallToAction href="/contact/" aria-label="Contact Arnaud Hervy">
			Send a message
		</CallToAction>
	</div>
</aside>


