---
import Icon from './Icon.astro';
const currentYear = new Date().getFullYear();
---

<footer role="contentinfo">
	<div class="group">
		<p>
			Designed & developed with <a href="https://astro.build/">Astro</a>
			<Icon icon="rocket-launch" size="1em" aria-hidden="true" />
		</p>
		<p>&copy; {currentYear} Arnaud Hervy</p>
	</div>
	<p class="socials">
		<a href="https://github.com/ahervy" aria-label="Visit Arnaud Hervy's GitHub profile"> GitHub</a>
		<a
			href="https://www.linkedin.com/in/arnaudhervy/"
			aria-label="Visit Arnaud Hervy's LinkedIn profile"
		>
			LinkedIn</a
		>
	</p>
</footer>
<style>
	footer {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		margin-top: auto;
		padding: 3rem 2rem 3rem;
		text-align: center;
		color: var(--gray-300);
		font-size: var(--text-sm);
	}

	footer a {
		color: var(--gray-300);
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	footer a:hover,
	footer a:focus {
		text-decoration-color: currentColor;
	}

	.group {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
</style>
