// Change primary color
$primary: #3000f0;
$theme-colors: ("primary": $primary);

// Make headings bolder
$headings-font-weight: 800;

// Change default focus
:focus {
  outline: 1px solid $primary;
  outline-offset: 1px;
}

// CSS for timeline
.timeline-body {
  position: relative;
  padding: 5px 0;
  margin: 1rem 1rem;


  &:after {
    // Left Border
    content: "";
    width: 5px;
    height: 100%;
    background-color: $primary;
    position: absolute;
    left: 5px;
    top: 0;
  }

  .timeline-item {
    position: relative;

    &:after {
      // Circle
      content: "";
      width: 20px;
      height: 20px;
      background-color: $primary;
      border-radius: 50%;
      border: 5px solid $primary;
      position: absolute;
      left: -2px;
      top: 10px;
      z-index: 10;
    }

    .timeline-item-content {
      margin: 40px;
      padding-bottom: 20px;


    }
  }
}